<div class="sidenav">
  <div class="pages">
    <a [routerLink]="['/admin/dashboard']">
      <fa-icon [icon]="sidebarIcons.dashboard"></fa-icon>
      Dashboard
    </a>
    <a [routerLink]="['/admin/orders']">
      <fa-icon [icon]="sidebarIcons.orders"></fa-icon>
      Orders
    </a>
    <a [routerLink]="['/admin/inventory']">
      <fa-icon [icon]="sidebarIcons.inventory"></fa-icon>
      Inventory
    </a>
    <a [routerLink]="['/admin/employees']">
      <fa-icon [icon]="sidebarIcons.employees"></fa-icon>
      Employee
    </a> 
    <a [routerLink]="['/admin/retail-shop']">
      <fa-icon [icon]="sidebarIcons.shop"></fa-icon>
      Retail Shop
    </a> 
  </div>
</div>
