<div class="dashboard-container">

  
  <div class="dashboard-overview">
    <h2>Dashboard Overview</h2>

    <div class="dashboard-cards">
      <div class="card">
        <h3>Total Orders</h3>
        <p>{{ metrics.totalOrders }}</p>
      </div>

      <div class="card">
        <h3>Total Inventory</h3>
        <p>{{ metrics.totalInventoryItems }}</p>
      </div>

      <div class="card">
        <h3>Total Employees</h3>
        <p>{{ metrics.totalEmployees }}</p>
      </div>

      <div class="card">
        <h3>Total Unseen Damages Reported</h3>
        <p>{{ metrics.totalUnseenDamagesReported }}</p>
      </div>
    </div>
  </div>

  <div class="order-container">

    <div class="order-section">
    
      <app-orders
      [allowed]="allowed"
      [selectedFilter]="selectedFilterForPending"
      ></app-orders>
    </div>

    <div class="order-section">
      <app-orders
      [allowed]="allowed"
      [selectedFilter]="selectedFilterForDispatched"
      
      ></app-orders>
    </div>
  </div>

  <div class="low-damage-metrics">
    
    <div class="low-stock-metrics">
        <h2>Low Stock Alerts</h2>
        <div class="low-stock-metric">
            <p>Total Low Stock: <span>4</span></p>
            <p>Critical Low Stock: <span>1</span></p>
        </div>
        <button class="view-deatils">View Details</button>
    </div>

    
    <div class="damage-metrics">
        <h2>Damage Alerts</h2>
        <div class="damage-metric">
            <div class="damage-box">
                <h3>Warehouse: <span>2</span></h3>
            </div>
            <div class="damage-box">
                <h3>Retail Shop: <span>3</span></h3>
            </div>
            <div class="damage-box">
                <h3>Manufacturer: <span>0</span></h3>
            </div>
        </div>
        <button class="view-deatils">View Details</button>
    </div>
</div>

</div>
