<div class="retail-shop-container">
    <div class="list-container" [ngClass]="{
      'make-blur': isAddRetailShopOpen || isUpdateRetailShopOpen
    }">
      <div class="list-heading">
        <span class="total-elements">{{ paging.total_elements }}</span>
        <!-- <input [(ngModel)]="searchText" type="text" placeholder="Search..." /> -->
       
      </div>
      <div class="list-area">
        <app-table
          [paging]="paging"
          [actionButtons]="actionButtons"
          [tabelHeader]="tableHeader"
          [displayData]="displayData"
          [(dataDetail)]="dataDetail"
          [(dataDetailId)]="dataDetailId"
          [expandDetail]="expandDetail"
          [paymentDetails]="true"
          (sortChanged)="sortChanged($event)"
          (pageChanged)="pageChanged($event)"
          (paymentEmit)="paymentForId($event)"
        >
        </app-table>
      </div>
    </div>
  
  </div>
  
  
