<div class="order-container" 
[ngClass]="{
  'make-blur': isUpdateOrderOpen
}"
>
  <div class="list-container">
    <div class="list-heading" *ngIf="allowed.isHeadingNeeded">
      <span class="total-elements">{{ paging.total_elements }}</span>
      <input [(ngModel)]="searchText" type="text" placeholder="Search..." />
    </div>
    <div class="list-area">
      <app-table
        [paging]="paging"
        [actionButtons]="allowed.actionButtons"
        [tabelHeader]="tableHeader"
        [displayData]="displayData"
        [(dataDetail)]="dataDetail"
        [(dataDetailId)]="dataDetailId"
        [expandDetail]="expandDetail"
        [allowPagination]="allowed.allowPagination"
        (sortChanged)="sortChanged($event)"
        (pageChanged)="pageChanged($event)"
        (updateList)="updateOrder($event)"
      >
      </app-table>
    </div>
  </div>
</div>


<div class="update-order-container" *ngIf="isUpdateOrderOpen">
  <div class="pop-up">
    <app-add-form
    [formGroup]="updateDetailFormGroup"
    [formConfig]="formConfig"
    [formUse]="formUseUpdate"
    (formSubmit)="updateFormSubmit($event)"
    (formClose)="updateFormDiscard()"
    ></app-add-form>
  </div>
</div>