<div class="inventory-container">
  <div
    class="list-container"
    [ngClass]="{ 'make-blur': isAddTileComponentOpen }"
  >
    <div class="list-heading">
      <input type="text" placeholder="Search..." />
      <div class="add-new-time-btn">
        <button (click)="openAddTileComponent()">Add Tile</button>
      </div>
    </div>
    <div class="list-area">
      <table>
        <thead>
          <tr>
            <th
            *ngFor="let heading of tabelHeader; let i = index"
            [ngClass]="tabelHeader[i].class !== '' ? tabelHeader[i].class : ''"
            (click)="doSorting(heading.sortBy!, heading.sortDirection!)"
            >
            <div class="t-head">
              {{heading.name}}
            <span class="hide"
            >
              <fa-icon 
              *ngIf="heading.sortDirection === 'asc'"
              [icon]="iconsUsed.asc"
              >
            </fa-icon>
            <fa-icon 
            *ngIf="heading.sortDirection === 'desc'"
              [icon]="iconsUsed.desc"></fa-icon
              >
            </span>
            </div>
          </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tile of displayData; let i = index">
            <td class="make-center">{{ (paging.page_number * paging.page_size) + (i + 1) }}</td>
            <td >{{ tile.skuCode }}</td>
            <td >{{ tile.tileSize }}</td>
            <td >{{ tile.brandName }}</td>
            <td >{{ tile.modelName }}</td>
            <td class="make-center">{{ tile.qty }}</td>
            <td class="make-center">{{ tile.piecesPerBox }}</td>
            <td>
              <div class="tile-action-container">
                <button (click)="showDetailsOfTileId(tile._id)">
                  <fa-icon [icon]="iconsUsed.details"></fa-icon>
                </button>
                <button>
                  <fa-icon [icon]="iconsUsed.update"></fa-icon>
                </button>
                <button>
                  <fa-icon [icon]="iconsUsed.archive"></fa-icon>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="page-control">
        <div class="pagination">
          <div class="page-navigation">
            <button
            (click)="previousPage()"
            [disabled]="paging.is_first"
            ><fa-icon [icon]="iconsUsed.prev"></fa-icon></button>
            <p class="page-number">{{paging.page_number + 1}} / {{paging.total_pages}}</p>
            <button
            (click)="nextPage()"
            [disabled]="paging.is_last"
            ><fa-icon [icon]="iconsUsed.next"></fa-icon></button>
          </div>
        </div>
        <div class="page-size">
          <select name="pageSize" id="page-size" 
          [(ngModel)]="paging.page_size"
          (change)="updatePaging()"
          >
            <option value="5">5</option>
            <option value="8">8</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="add-tile-container" *ngIf="isAddTileComponentOpen">
  <div class="pop-up">
    <app-add-tile (closeModal)="closeAddTileComponent()"></app-add-tile>
  </div>
</div>
