.modal-overlay {
    position: absolute;
    width: calc(100% - 500px);
    height: calc(100% - 100px);
    top: 90px;
    left: calc(230px + 135px);
}

table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}

th.mat-header-cell {
    text-align: left;
    max-width: 300px;
}