.retail-shop-container {
  padding: 20px;
}

.list-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.list-heading input {
  flex: 1;
  max-width: 500px;
  padding: 10px;
  border: 1px solid var(--XXL-color);
  border-radius: 1rem;
  font-size: 1rem;
}

.list-heading input:focus {
  border-color: var(--XXL-color);
  outline: none;
  box-shadow: 0px 0px 5px rgba(27, 45, 72, 0.9);
}

.total-elements {
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--XXL-color);
  border-radius: 50%;
  color: #fff;
  padding: 5px 5px;
}

.add-new-time-btn button {
  background-color: var(--XXL-color);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.add-new-time-btn button:hover {
  background-color: #2980b9;
}

.make-blur {
    filter: blur(10px);
    pointer-events: none;
    user-select: none; 
}

.add-retail-shop-container,
.update-retail-shop-container {
  position: absolute;
  width: calc(100% - 500px);
  height: calc(100% - 100px);
  top: 90px;
  left: calc(230px + 135px);
}
