* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    position: relative;
    font-family: "Roboto", sans-serif;
    background: #f4f7fa;
  }


  :root {
    --XXL-color: #1b2d48;
    --XL-color: #2c456b;
    --L-color: #3c649f;
    --M-color: #8ba2c5;
    --S-color: #deeafd;
  }
  


  /* color pallate */
  /* https://www.color-hex.com/color-palette/111548 */
